@import '~@sensoro-design/styles/style/themes/default.less';

@legend-prefix-cls: ~'sen-legend';

.@{legend-prefix-cls} {
  &-item {
    //cursor: pointer;
    white-space: nowrap;
  }

  &-name {
    font-size: @font-size-sm;
    color: @color-neutral-text-3;
    white-space: nowrap;
  }
}
