@import '~@sensoro-design/styles/style/themes/default.less';

@legend-prefix-cls: ~'sen-legend';

.@{legend-prefix-cls} {
  &-center {
    justify-content: center;
  }

  &-horizontal {
    flex-wrap: wrap;
    row-gap: 8px !important;
    column-gap: 24px;
  }

  &-item {
    //cursor: pointer;
    white-space: nowrap;
  }

  &-name {
    font-size: @font-size-sm;
    line-height: 22px;
    color: @color-neutral-text-3;
    white-space: nowrap;
  }

  &-box {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 1px;
    margin-right: 8px;
  }
}
